.Header {
    display: flex;
    flex-flow: row wrap;
    margin: 2px 4px 6px;
    background-color: rgb(230, 227, 227);

}

.Header li{
    list-style: none;
    box-sizing: border-box;
    background-color: rgb(230, 227, 227);
    display: block;
    width: 10%;
    height: 30px;
    margin-right: 5px;
    margin-left: 6px;
    padding: 5px;
}
.Header a{
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-weight: 700;
    color: black;
}

.Header a:hover,
.Header a:active 
{
    color: #212226;
    background-color: #ccc;
    border: 1px solid #ccc;
}